@import '../variables', '../mixins';

.address-plate {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  &__invitation {
    width: 125px;
    margin: 0;
    padding: 0;
    margin-right: 17px;
    font-size: 16px;
    line-height: 20px;
    color: $black;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__address {
    width: 140px;
    margin: 0;
    padding: 0;
    font-family: $additional-font-family;
    font-size: 14px;
    line-height: 20px;
    color: $gray;
    font-weight: 400;
  }
  &--grey {
    background-color: #f2f2f2;
  }
}
