@import '../variables', '../mixins';

.block-result {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  &__item {
    min-width: 124px;
    padding: 0px 5px;
    padding-top: 6px;
    padding-bottom: 0;
    border-radius: 3px;
    border: 1px solid #cfcfcf;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    position: relative;
    box-sizing: border-box;
    text-align: center;
  }

  &__text {
    max-width: 60px;
    padding: 0 16px;
    font-family: $additional-font-family;
    font-size: 12px;
    line-height: 12px;
    color: #444444;
    font-weight: 400;
    display: inline-block;
    position: relative;
    background-color: #f2f2f2;
    top: 17px;
    word-wrap: break-word;
  }

  &__value {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin: auto;
    position: relative;
    top: 8px;
  }
}

@media (min-width: $tablet-width) {
  .block-result {

    &__item {
      min-width: 162px;
      padding-top: 8px;
      padding-bottom: 11px;
    }

    &__text {
      max-width: none;
      padding: 0 8px;
      font-size: 14px;
      line-height: 14px;
      background-color: #fff;
    }

    &__value {
      font-size: 30px;
      line-height: 37px;
    }
  }
}

@media (min-width: $desktop-width) {
  .block-result {
    &__text {
      background-color: #f2f2f2;
    }
  }
}
