@import '../variables', '../mixins';

.checkbox {
  position: relative;

  &__input:checked ~ &__label::after {
    display: block;
  }

  &__label {
    padding-left: 45px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
    position: relative;
    display: block;
    box-sizing: border-box;
    word-wrap: break-word;

    &:active {
      opacity: .3;
    }

    &:hover::before,
    &:focus::before{
      border-color: #bcbcbc;
    }

    &::before,
    &::after {
      transition: all .3s;
    }

    &::before {
      content: "";
      width: 28px;
      height: 28px;
      border: 1px solid #cfcfcf;
      position: absolute;
      left: 0;
      top: 0;
    }

    &::after {
      content: "";
      width: 17px;
      height: 8px;
      position: absolute;
      left: 5px;
      top: 5px;
      border: 2px solid #6bb83c;
      border-top-color: transparent;
      border-right-color: transparent;
      transform: rotate(-48deg);
      display: none;
    }
  }
}

@media (min-width: $tablet-width)  {
  .checkbox {
    &__label {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 58px;
      font-size: 20px;
      line-height: 20px;

    &::before {
      width: 38px;
      height: 38px;
    }

    &::after {
      top: 10px;
      left: 10px;
    }
    }
  }
}

@media (min-width: $desktop-width) {
  .checkbox {
    &__label {
    }
  }
}
