@import '../variables', '../mixins';

.comparisons {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__pictures {
    width: 320px;
    height: 240px;
    position: relative;
  }

  &__before-picture-wrapper,
  &__after-picture-wrapper {
    transition: width .5s;
  }

  &__before-picture-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -2;
    background-color: #f2f2f2;
  }

  &__after-picture-wrapper {
    width: 0%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #f2f2f2;
  }

  &__picture {
    max-width: none;
    width: 320px;
    position: absolute;

    &--before-img {

    }

    &--after-img {
      right: 0;
    }
  }

  &__range {
    margin-top: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__progress {
    width: 84px;
    padding: 6px 5px;
    margin: 0;
    margin-right: 12px;
    margin-left: 14px;
    border: 1px solid rgb(205, 205, 205);
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
  }

  &__toggle {
    width: 35px;
    height: 6px;
    margin: 0 5px;
    background-color: rgb(104, 183, 56);
    border-radius: 6px;
    // transition: transform .3s;
    top: 3px;
    left: 0%;
    position: absolute;
    // transform: translateX(100%);
  }

  &__btn {
    min-width: 50px;
    padding: 4px;
    padding-top: 6px;
    font-size: 16px;
    line-height: 20px;
    color: $black;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    background: none;
    box-sizing: border-box;
  }
}

@media (min-width: $tablet-width) {
  .comparisons {
    position: relative;

    &__pictures {
      width: 768px;
      height: 520px;
      padding-bottom: 117px;
    }

    &__before-picture-wrapper {
      width: 100%;
      background-color: #fff;

      &::after {
        content: "";
        width: 100%;
        height: 462px;
        position: absolute;
        background-color: #f2f2f2;
        z-index: -99;
        left: 0;
        bottom: 0;
      }
    }

    &__after-picture-wrapper {
      width: 50%;
      background-color: #fff;

      &::after {
        content: "";
        width: 100%;
        height: 462px;
        position: absolute;
        background-color: #eaeaea;
        z-index: -99;
        right: 0;
        bottom: 0;
      }
    }

    &__picture {
      width: 690px;

      &--before-img {
        top: 6px;
        left: 46px;
      }

      &--after-img {
        top: 6px;
        right: 32px;
      }
    }

    &__range {
      width: 570px;
      margin: 0;
      margin-top: -32px;
      position: relative;
      bottom: 68px;
    }

    &__progress {
      padding: 3px 5px;
      width: 428px;
      height: 6px;
      margin-left: 22px;
      margin-right: 23px;
      background-color: #dcdcdc;
      border: none;
      position: relative;
    }

    &__toggle {
      width: 34px;
      height: 34px;
      margin-left: -16px;
      border-radius: 50%;
      position: absolute;
      background-color: #fff;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15),
                  inset 0px 0px 0px 1px rgb(205, 205, 205);
      z-index: 1;
      bottom: -14px;
      top: auto;
      left: 50%;
      cursor: pointer;

      &::after {
        content: "";
        width: 8px;
        height: 8px;
        background-color: rgb(104, 183, 56);
        position: absolute;
        border-radius: 50%;
        top: 13px;
        left: 13px;
      }

      &:hover {
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25),
                    inset 0px 0px 0px 1px rgb(205, 205, 205);;
      }

      &:active {
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3),
                    inset 0px 0px 0px 2px #68b738;
      }
    }

    &__btn {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 5px;
      font-size: 20px;
      line-height: 20px;
      border-bottom: 1px dotted #bebebe;
      outline: none;

      &:hover,
      &:focus {
        border-bottom: 1px solid #989898;
      }

      &:active {
        border-bottom: 1px solid transparent;
      }
    }
  }
}

 @media (min-width: $desktop-width) {
  .comparisons {
    // width: 650px;
    width: 670px;
    position: relative;

    &__pictures {
      width: 100%;
      height: 530px;
      padding-bottom: 129px;
    }

    &__before-picture-wrapper {
      width: 100%;
      padding-right: 40px;
    }

    &__after-picture-wrapper {
      width: 50%;
      // right: -40px;
      right: -50px;
    }

    &__picture {
      width: 690px;

      &--before-img {
        top: 7px;
        left: 20px;
      }

      &--after-img {
        top: 7px;
        right: 10px;
      }
    }

    &__range {
      width: 100%;
      // left: 40px;
      left: 50px;
    }
  }
}
