.copyright {
  &__link {
    font-family: $additional-font-family;
    font-size: 16px;
    line-height: 16px;
    color: $gray;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color .15s;

    &:hover {
      .copyright__logo {
        fill: green;
      }
    }

    &:active {
      color: rgba($gray, .3);
      .copyright__logo {
        fill: rgba(green, .3);
      }
    }
  }

  &__logo {
    width: 27px;
    height: 34px;
    flex-shrink: 0;
    margin-left: 20px;
    fill: #666666;
    transition: fill .15s;
  }
}
