@import '../variables', '../mixins';

$box-shadow-color: #e6e6e6;
$box-shadow-color-hvr: #cdcdcd;
$box-shadow-color-act: #444444;
$color-error: #ff8282;
$box-shadow-width: 1px;
$main-color: #222222;
$placeholder-color: #444444;

$box-shadow: inset 0px 0px 0px $box-shadow-width $box-shadow-color;

.entry-field {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: $main-color;
  display: flex;
  align-items: center;
  position: relative;

  &__label {
    margin-right: 15px;
    flex-shrink: 0;
  }

  &__input {
    min-width: 100px;
    min-height: 45px;
    box-sizing: border-box;

    padding: 13px 16px;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    text-transform: inherit;
    font-weight: inherit;
    color: inherit;
    border: none;
    box-shadow: $box-shadow;
    flex-grow: 1;
    outline: none;
    box-sizing: border-box;
    transition: box-shadow .15s;

    &:hover {
      box-shadow: inset 0px 0px 0px $box-shadow-width $box-shadow-color-hvr;
    }

    &:active,
    &:focus {
      box-shadow: inset 0px 0px 0px $box-shadow-width + 1 $box-shadow-color-act
    }

    &::-webkit-input-placeholder {color: $placeholder-color;}
    &::-moz-placeholder          {color: $placeholder-color;} /* Firefox 19+ */
    &:-moz-placeholder           {color: $placeholder-color;} /* Firefox 18- */
    &:-ms-input-placeholder      {color: $placeholder-color;}

    &--no-apperance[type=number]::-webkit-inner-spin-button,
    &--no-apperance[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }

  &--email,
  &--phone {
    .entry-field__icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(100% - 33px);
    }

    .entry-field__input {
      padding-right: 45px;

    &:valid:focus {
      ~ .entry-field__icon {
        fill: #68b738;
      }
    }

    &:invalid:focus {
      box-shadow: inset 0px 0px 0px $box-shadow-width + 1 $color-error;

      ~ .entry-field__icon {
        fill: $color-error;;
      }
    }
  }
}

  &--error {
    .entry-field__icon {
      fill: $color-error;
    }

    .entry-field__input {
      box-shadow: inset 0px 0px 0px $box-shadow-width + 1 $color-error
    }
  }
}

@media (min-width: $tablet-width) {
  .entry-field {

    &__label {
      margin-right: 17px;
      font-size: 20px;
      line-height: 20px;
    }

    &__input {
      font-size: 20px;
      line-height: 20px;
    }

    &--email,
    &--phone {
      .entry-field__icon {
        position: absolute;
        left: calc(100% - 36px);
      }
    }
  }
}

