@import '../variables', '../mixins';

.intro {
  padding-top: 29px;
  color: white;
  font-weight: 400;
  box-sizing: border-box;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 305px;
    background-image: url(../../img/background-intro-mobile.jpg),
                      linear-gradient(to right, #65a93c 48%, #63a73a 52%);
    background-repeat: no-repeat;
    background-position: center top;
    top: 0;
    position: absolute;
    z-index: -100;
  }

  &__title {
    margin: 0 auto;
    margin-bottom: 27px;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: inherit;
    text-align: center;
  }

  &__slogan {
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 14px;
    font-weight: inherit;
    text-align: center;
    display: block;
  }

  &__img {
    min-height: 271px;
  }

  &__btn {
    width: 100%;
  }
}
