@import '../variables', '../mixins';

.intro {
  padding-top: 29px;
  color: white;
  font-weight: 400;
  box-sizing: border-box;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 305px;
    background-image: url(../../img/background-intro-mobile.jpg),
                      linear-gradient(to right, #65a93c 48%, #63a73a 52%);
    background-repeat: no-repeat;
    background-position: center top;
    top: 0;
    left: 0px;
    position: absolute;
    z-index: -100;
  }

  &__title {
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: inherit;
    text-align: center;
  }

  &__slogan {
    margin: 0 auto;
    margin-bottom: 27px;
    font-size: 14px;
    line-height: 14px;
    font-weight: inherit;
    text-align: center;
    text-transform: uppercase;
    display: block;
  }

  &__img {
    width: 280px;
    height: 271px;
    display: block;
    margin: 0 auto;
    margin-bottom: 2px;
  }

  &__btn {
    width: 100%;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 14px;
    line-height: 18px;
  }
}


@media (min-width: $tablet-width) {
  .intro {
    min-height: 861px;
    padding-top: 64px;
    padding-bottom: 0;
    padding-left: 119px;

    &::before {
      display: none;
    }

    &__title {
      width: 430px;
      margin: 0;
      margin-bottom: 39px;

      font-size: 60px;
      line-height: 60px;
      color: $black;
      text-align: left;
    }

    &__slogan {
      width: 430px;
      margin: 0;
      margin-bottom: 47px;
      font-size: 20px;
      line-height: 20px;
      color: $black;
      text-align: left;
    }

    &__img {
      position: absolute;
      z-index: -1;
    }

    &__btn {
      width: 245px;
      padding-top: 16px;
      padding-bottom: 16px;
      font-size: 20px;
      line-height: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .intro {
    min-height: 655px;
    position: static;
    padding-top: 114px;
    padding-left: 80px;

    &::after {
      content: "";
      width: 50%;
      min-height: 696px;
      background-color: #64a83b;
      background-image: url(../../img/index-header-bg-desktop.jpg);
      position: absolute;
      background-repeat: no-repeat;
      background-position: 0%;
      background-size: cover;
      top: 0;
      right: 0;
      z-index: -100;
    }

    &__slogan {
      margin-bottom: 52px;
    }
  }
}
