@import '../variables', '../mixins';

.logo {
  padding-top: 12px;
  padding-bottom: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  transition: opacity 150ms;

  &__img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  &:hover,
  &:focus {
    opacity: .8;
  }

  &:active {
    opacity: .6;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    margin: 0;
    padding: 0;
    text-align: left;
    border: none;
  }
}
