@import '../variables', '../mixins';

// Переменные для бургера "tooglle-menu" находятся в файле "_toogle-menu.scss"

.main-nav {
  position: relative;

  &__toogle-menu {
    height: 65px;
    width: 65px;
    position: absolute;
    right: -20px; 
    top: -66px;
    z-index: 100;
  }

  &__list {
    display: none;
  }

  &--no-js {
    .main-nav__toogle-menu {
      display: none;
    }

    .main-nav__list {
      display: flex;
    }
  }

  &--opened {
    .main-nav__toogle-menu {
      .toogle-menu__burger {
        background-color: transparent;
    
        &::before {
          top: 0;
          transform: rotate(45deg);
        }
    
        &::after {
          top: -$height-line-burger;
          transform: rotate(-45deg);
        }
      }
    }

    .main-nav__list {
      display: flex;
    }
  }

  &:not(&--opened) {
    .main-nav__toogle-menu {
      .toogle-menu__burger {
        &::before, &::after {
          transition: transform $burger-transition-duration, top $burger-transition-duration $burger-transition-duration;
        }
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    position: static;

    &__toogle-menu {
      display: none;
    }

    &__list {
      display: flex;
    }
  }
}