@import '../variables', '../mixins';

.main-nav {
  position: relative;

  &__toogle-menu {
    position: absolute;
    right: 0px;
    top: -42px;
    z-index: 100;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    position: static;

    &__list {
      // margin-left: -35px;
    }

    &__toogle-menu {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {

  }
}
