@import '../variables', '../mixins';

.note {
  margin: 0;
  padding: 0;
  font-family: $additional-font-family;
  font-size: 14px;
  line-height: 16px;
  color: $gray;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .note {
    font-size: 16px;
  }
}
