@import '../variables', '../mixins';

$bg-color: #f2f2f2;
$arrow-color: #3e4242;
$arrow-line-width: 17px;
$arrow-triangle-size: 6px;
$arrow-position-x: 33px;
$line-description-color: #d9d9d9;

.nutrition-program {
  box-sizing: border-box;
  background-color: $bg-color;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;

  &__title {
    margin: 0;
    margin-bottom: 28px;
    padding: 0px;
    padding-left: 70px;
    padding-right: 15px;
    font-size: 24px;
    line-height: 37px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__description {
    margin: 0;
    padding: 0;
    padding-bottom: 22px;
    padding-right: 15px;
    font-family: $additional-font-family;
    color: $gray;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    border-bottom: 1px solid $line-description-color;
    box-sizing: border-box;
  }

  &__link {
    max-width: 100%;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-right: 45px;
    font-size: 16px;
    line-height: 16px;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;

    &::before, &::after {
      transition-property: left, width;
      transition-duration: .25s;
    }

    &::before {
      content: "";
      position: absolute;
      width: $arrow-line-width + 1;
      height: 3px;
      background-color: $arrow-color;
      left: calc(100% - #{$arrow-position-x});
      top: 50%;
      transform: translateY(-50%);
    }

    &::after {
      content: "";
      position: absolute;
      @include triangle(right, $arrow-triangle-size, $arrow-color);
      top: 50%;
      transform: translateY(-50%);
      left: calc(100% - (#{$arrow-position-x} - #{$arrow-line-width}));
    }

    &:hover::before {
      width: $arrow-line-width + 9px;
    }

    &:hover::after {
      left: calc(100% - (#{$arrow-position-x} - #{$arrow-line-width + 9px}));
    }
  }
}

@media (min-width: $tablet-width) {
  $arrow-position-x: 22px;

  .nutrition-program {
    padding-top: 78px;
    padding-left: 53px;
    padding-right: 280px;
    padding-bottom: 40px;

    &__title {
      margin-bottom: 23px;
      padding: 0;
      font-size: 36px;
      line-height: 37px;
    }

    &__description {
      margin-bottom: 36px;
      padding: 0;
      font-size: 16px;
      line-height: 24px;
      border: none;
    }

    &__link {
      font-size: 20px;
      line-height: 20px;
      transition: opacity 150ms;

      &::before {
        left: calc(100% - #{$arrow-position-x});
      }

      &::after {
        left: calc(100% - (#{$arrow-position-x} - #{$arrow-line-width}));
      }

      &:hover::before {
        width: $arrow-line-width + 9px;
      }

      &:hover::after {
        left: calc(100% - (#{$arrow-position-x} - #{$arrow-line-width + 9px}));
      }

      &:active {
        opacity: .3;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .nutrition-program {
    width: 570px;
    padding-top: 78px;
    padding-bottom: 40px;
    padding-left: 52px;
    padding-right: 50px;

    &__title {
      padding-left: 161px;
      margin-bottom: 72px;
    }

    &__description {
      margin-bottom: 11px;
    }
  }
}
