@import '../variables', '../mixins';

.page-header {
  &__logo-wrapper {
    position: relative;

    &::after {
      content: "";
      width: calc(100% + 40px);
      height: 1px;
      background-color: #e6e6e6;
      left: -20px;
      bottom: 0;
      position: absolute;
    }

  }

  &__logo {
    width: 191px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;

    &__logo-wrapper {
      &::after {
        display: none;
      }
    }

    &__logo {
      width: 176px;
      margin: 0;
      min-width: 192px;
      min-height: auto;
    }

    &__main-nav {
      
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-top: 56px;

    &__logo {
      width: 208px;
    }
  }
}
