@import 'variables', 'mixins';

.product {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 24px;
  position: relative;
  padding-top: 1px;

  &::after {
    content: "";
    width: calc(100% + 40px);
    height: 1px;
    background-color: #ededed;
    position: absolute;
    bottom: -1px;
    left: -20px;
  }

  &__link-for-img {
    font-size: 0;
    line-height: 0;
    text-align: center;
  }

  &__img {
    max-width: 100%;
    height: auto;
  }

  &__description {
    width: 50%;
  }

  &__title {
    width: 70%;
    margin: 0;
    margin-top: 23px;
    margin-bottom: 10px;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    color: $black;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__specifications {
    width: 100%;
    font-family: $additional-font-family;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: $gray;
  }

  &__characteristic {
    margin: 0;
    padding: 0;
  }

  &__characteristic-value {
    margin: 0;
    padding: 0;
    text-align: right;
  }

  &__btn {
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .product {
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, transparent 83px, #f2f2f2 83px);
    box-sizing: border-box;

    &::after {
      display: none;
    }

    &__link-for-img {
      width: 100%;
      height: 208px;
      display: block;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    &__img {
      max-width: calc(100% + 72px);
      margin-left: -36px;
      margin-right: -36px;
      text-align: center;
    }

    &__description {
      width: 100%;
    }

    &__title {
      width: 60%;
      margin: 0 auto;
      margin-top: 39px;
      margin-bottom: 16px;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
    }

    &__specifications {
      font-size: 16px;
      line-height: 16px;
    }

    &__specifications tr {
      width: 100%;
      display: flex;
      border-bottom: 1px solid #cdcdcd;
    }

    &__characteristic,
    &__characteristic-value {
      width: 50%;
      display: block;
      padding-top: 8px;
      padding-bottom: 7px;
    }

    &__btn {
      margin-top: 30px;
      font-size: 16px;
      line-height: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .product {
    &__title {
      width: 135px;
    }
  }
}
