.program-selection {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;

  &__list {
    @include list-reset;

    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__item {
    margin-bottom: 14px;

    &:last-of-type {margin-bottom: 0;}
  }

  &__input:checked ~ .program-selection__label::after {
      display: block;
    }

  &__label {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 45px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    position: relative;

    &:active {
      opacity: .3;
    }

    &:hover::before,
    &:focus::before{
      border-color: #bcbcbc;
    }

    &::before,
    &::after {
      transition: all .3s;
    }

    &::before {
      content: "";
      width: 28px;
      height: 28px;
      border: 1px solid #d1d1d1;
      position: absolute;
      border-radius: 50%;
      left: 0;
      top: 0px;
    }

    &::after {
      content: "";
      width: 12px;
      height: 12px;
      position: absolute;
      background-color: #68b738;
      border-radius: 50%;
      left: 9px;
      top: 9px;
      display: none;
    }
  }

  &::before,
  &::after {
    content: "";
    width: calc(100% + 40px);
    height: 1px;
    background-color: #ededed;
    position: absolute;
    left: -20px;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .program-selection {
    &::before,
    &::after {
      display: none;
    }

    &__list {
      padding-top: 24px;
      padding-left: 28px;
      padding-right: 28px;
      padding-bottom: 25px;
      border: 1px solid #e6e6e6;
    }

    &__label {
      padding-top: 11px;
      padding-bottom: 8px;
      padding-left: 59px;
      font-size: 20px;
      line-height: 20px;

      &::before {
        width: 38px;
        height: 38px;
      }

      &::after {
        width: 18px;
        height: 18px;
        top: 11px;
        left: 11px;
      }
    }
  }
}
