@import 'variables', 'mixins';

.questionnaire {

  &__subtitle {
    padding-top: 29px;
    padding-bottom: 33px;
  }

  &__description {
    width: 270px;
    margin: 0;
    margin-bottom: 38px;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    color: $black;
    text-transform: uppercase;
  }

  &__btn {
    width: 100%;
    margin-top: 19px;
    margin-bottom: 21px;
  }

  &__note {
    margin-bottom: 32px;
  }
}
