@import 'variables', 'mixins';

.title-line {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  display: block;

  &__text {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    display: inline-block;
    // opacity: .2;
  }

  &::after {
    content: "";
    width: calc(100% + 40px);
    margin-left: -20px;
    min-width: 20px;
    height: 3px;
    background-color: #68b738;
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .title-line {

    &__text {
      padding-left: 37px;
      padding-right: 37px;
      margin-left: 0;
    }

    &::before {
      content: "";
      width: calc(100% + 40px);
      min-width: 20px;
      height: 3px;
      background-color: #68b738;
      box-sizing: border-box;
      position: absolute;
      right: 100%;
      top: 58%;
      transform: translateY(-50%);
      z-index: -1;
    }

    &::after {
      width: calc(100% + 30px);
      margin-left: 0;
      top: 58%;
    }
  }
}

@media (min-width: $desktop-width) {
  .title-line {
    &__text {
      margin-left: -38px;
    }

    &::after {
      width: 100vw;
      left: 0;
    }
  }
}
